CompileFlags:
  Add: [-D__skr_clangd__, -Wno-ignored-attributes, -Wno-unused-function]

Diagnostics:
  Suppress:
    - pragma_attribute_no_pop_eof
    - pragma_attribute_stack_mismatch

---

If:
  PathMatch: .*/.*
CompileFlags:
  CompilationDatabase: build/.sb/compile_commands/cpp/

---

If:
  PathMatch: engine/tools/LLVMTools/shader_compiler/ShaderSTL/.*
CompileFlags:
  CompilationDatabase: build/.sb/compile_commands/shaders/

---

If:
  PathMatch: .*/.*.cxx
CompileFlags:
  CompilationDatabase: build/.sb/compile_commands/shaders/

---

If:
  PathMatch: .*/.*.hxx
CompileFlags:
  CompilationDatabase: build/.sb/compile_commands/shaders/
  Add: [ -x, c++-header ]

Diagnostics:
  ClangTidy:
    Remove: [ misc-definitions-in-headers ]