# macos
.DS_Store

# visual studio
.vs

# vscode counter cache
/.VSCodeCounter

# clangd cache
/.cache

# C# build outputs
**/bin
**/obj

# jetbrains
.idea

# for ai
.memory_bank
memory_bank/context
AGENTS.md
.mcp.json
.claude
publish

# sakura build dir
build

# sakura build local config
local_config.cs