CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.pyc
_deps
.DS_Store
/build
/build-vs
/build-wasm
/build-wasi
/.vs
/.xmake
/.cache
/out
/.VSCodeCounter
/xcode
/SDKs/grpc
/SDKs/reflector-win
/SDKs/tools
/SDKs/libs
/SDKs/python
/SDKs/*.zip
/SDKs/*.ttf
/SDKs/manifest.json
stressTest
/thirdparty/*.zip
scenes
/vcpkg_installed
.history
/vsxmake
/vsxmake*
xmake.log

project.lua

.claude
.vs
.vscode
publish
**/bin
**/obj

.sb
.pkgs
sbuild
.build