CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.pyc
_deps
.DS_Store
/build
/build-vs
/build-wasm
/build-wasi
/.vs
!/.vscode
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/launch.json
/.xmake
/.cache
/out
/.VSCodeCounter
/xcode
/SDKs/grpc
/SDKs/reflector-win
/SDKs/tools
/SDKs/libs
/SDKs/python
/SDKs/*.zip
/SDKs/*.ttf
stressTest
/thirdparty/*.zip
scenes
/vcpkg_installed
.history
/vsxmake
/vsxmake*
xmake.log